.landing-page {
  text-align: left;
}

.header {
  padding: 25px 40px;
  float: inline-start;
  left: 0px;
  right: 0px;
  top: 50px;
}
.header p {
  margin: 0;
  font: 300 20px/1.5 'Roboto', sans-serif;
}

.header button {
  background-color: #2B7A05;
  color: white;
  border: none;
  margin: 15px 0px;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.event-card {
  cursor: pointer;
  background-color: white;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  margin: 10px;
  width: 300px;
  padding: 10px;
  text-align: left;
  transition: background-color 0.3s;
}

.event-card:hover {
  background-color: #f0f0f0;
}

.event-card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.event-card h3 {
  margin: 10px 0;
}

.event-card span {
  display: block;
  margin: 5px 0;
}
